<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javasm.common.mapper.DictionaryMapper">

    <select id="findAll" resultType="com.javasm.common.entity.Dictionary">
        select field_code,field_name,dic_key,dic_value from dictionary
    </select>

    <select id="findListByFieldCode" parameterType="String" resultType="com.javasm.common.entity.Dictionary">
        select field_code,field_name,dic_key,dic_value from dictionary where field_code=#{field_code}
    </select>

    <select id="findSetByFieldCode" parameterType="String" resultType="java.util.HashMap">
        select dic_key,dic_value from dictionary where field_code=#{field_code}
    </select>

    <select id="findKeyByFieldCodeAndValue" parameterType="String" resultType="String">
        select dic_key from dictionary where field_code=#{field_code} and dic_value=#{dic_value}
    </select>

</mapper>